
[data-theme="dark"] {
  background-color: #110 !important;
  color: #FFF5EE !important;
  border-color: #FFFAFA !important;
}

[data-theme="dark"] .bg-black {
  background-color: #fff !important;
  border-color: #FFFAFA !important;
}

[data-theme="dark"] .bg-dark {
  background-color: #eee !important;
  border-color: #FFFAFA !important;
}

[data-theme="dark"] .bg-light {
  background-color: #222 !important;
    border-color: #FFFAFA !important;
}

[data-theme="dark"] .bg-white {
  background-color: #000 !important;
    border-color: #FFFAFA !important;
}